
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
    <div class="container-full-height">
        <div class="col-lg-4">
            <div class="card barra-inicio-sesion"> <!-- Aplicamos la clase personalizada para la barra de inicio de sesión -->
                <div class="card-header bg-dark text-white text-center"> <!-- Cambiamos el color de fondo y texto del encabezado -->
                    <h3 class="mb-0">Iniciar Sesión</h3>
                </div>
                <div class="card-body mb-4 bg-light"> <!-- Cambiamos el color de fondo de la card-body -->
                    <form>
                        <div class="form-group">
                            <label for="usuario">Usuario:</label>
                            <input type="text" class="form-control" id="usuario" placeholder="Introduce tu usuario">
                        </div>
                        <div class="form-group">
                            <label for="contraseña">Contraseña:</label>
                            <input type="password" class="form-control" id="contraseña" placeholder="Introduce tu contraseña">
                        </div>
                        <button type="submit" class="btn boton-iniciar-sesion btn-block mt-3">Iniciar Sesión</button> <!-- Aplicamos la clase personalizada para el botón -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>