/* estilos.css */

/* Definición de colores personalizados */
.barra-inicio-sesion {
    background-color: #b1f1fd; /* Color de fondo naranja */
    color: #021E3D /* Color de texto blanco */
}

.boton-iniciar-sesion {
    background-color: #021E3D; /* Color de fondo */
    border-color:  #ffffff;  
    color: #ffffff; /* Color de texto blanco */
}

        /* Estilos personalizados */
        .container-full-height {
            height: 100vh; /* Establece la altura al 100% del viewport */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* Cambia el color del texto y el fondo del botón cuando el cursor está sobre él */
.boton-iniciar-sesion:hover {
    background-color: #CF6A8C; /* Cambia el color de fondo del botón al verde de Bootstrap */
    border-color:#CF6A8C; /* Cambia el color del borde del botón al verde de Bootstrap */
    color: #ffffff; /* Cambia el color del texto del botón a blanco */
}