
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
    <div class="container-full-height">
        <div class="col-lg-4">
            <div class="card barra-inicio-sesion"> <!-- Aplicamos la clase personalizada para la barra de inicio de sesión -->
                <div class="card-header bg-dark text-white text-center"> <!-- Cambiamos el color de fondo y texto del encabezado -->
                    <h3 class="mb-0">Iniciar Sesión</h3>
                </div>
                <div class="card-body mb-4 bg-light"> <!-- Cambiamos el color de fondo de la card-body -->
                    <form [formGroup]="loginForm"(submit)="realizarlogin()">
                        <div class="form-group">
                            <label for="login">Usuario:</label>
                            <input
                             type="email" 
                             class="form-control" 
                             formControlName="login"
                             placeholder="Introduce tu usuario">
                             @if(login?.invalid && login?.touched){
                            <div>
                                <small class="text-danger">
                             EL nombre de usuario es obligatorio</small>
                            </div>
                             }

                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password"
                             class="form-control" 
                             formControlName="password" 
                             placeholder="Introduce tu contraseña"/>
                           
                             @if (password?.invalid && password?.touched){
                             <div>
                                 <small class="text-danger">El password es obligatorio</small>
                             </div>
                         <!-- Mensaje de error si el campo de contraseña no cumple con la longitud mínima -->
                         @if (password?.hasError('minlength')){
                             <div>
                                 <small class="text-danger">El password no tiene la longitud mínima</small>
                             </div>
                            }}
                    </div>
                        <div class="form-group ">
                            <a hrof="" class="small"> ¿Olvidaste tu contraseña? </a>
                        </div>


                        <button type="submit" class="btn boton-iniciar-sesion btn-block mt-3" 
                        [disabled]="!loginForm.valid">Iniciar Sesión</button> <!-- Aplicamos la clase personalizada para el botón -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>