.contenido {
    width: 400px;
    background: #b1f1fd;
    padding: 10px 20px 15px 25px;
    margin: auto;
    margin-top: 60px;
    border-radius: 12px; 
    font-family: 'calibri';
    display: flex;
    flex-direction: column;
}

.input-group {
    padding: 20px 0; /* Ajusta el padding según tus necesidades */
   
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px 25px;
     border-radius: 25px; 
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid #021E3D;
    outline: none;
    margin-bottom: 30px;
   
}

.btn-container {
    margin-top: auto; /* Empuja el contenedor del botón al final del contenedor */
}

.btn {
    font-size: 16px;
    color: rgb(243, 239, 233);
    border: 1px;
    border-radius: 12px; 
    background-color:  #021E3D;;
    box-shadow: 0 0 20px #021E3D;
    cursor: pointer;
    padding: 10px 150px; /* Ajusta el padding según tus necesidades */
    margin-top: 20px; /* Ajusta el margen superior del botón según tus necesidades */
    transition: background-color 0.3s ease; /* Agrega una transición para suavizar el cambio de color */
}
.btn:hover {
    background-color: #CF6A8C; /* Puedes ajustar el porcentaje según tus preferencias */
}