<div class="contenido">
    <form  [formGroup]= "clienteForm" (submit)="crearcliente()">
      <div class="input-group">
        <label for="id">id</label>
        <input 
        type="text"
        formControlName="id" 
        placeholder="Ingrese el Id del Cliente">

        <label for="nombre">nombre</label>
        <input
        type="text"
        formControlName="nombre" 
        placeholder="Ingrese el Nombre del Cliente">

        <label for="Direccion">direccion</label>
        <input
        type="text"
        formControlName="direccion" 
        placeholder="Ingrese la Direccion del Cliente">

        <label for="Telefono">telefono</label>
        <input
        type="text"
        formControlName="telefono" 
        placeholder="Ingrese el Telefono del Cliente">

        <label for="Email">email</label>
        <input
        type="text"
        formControlName="email" 
        placeholder="Ingrese el Telefono del Cliente">

        <label for="tipoDocumento">Tipo de documento</label>
        <input
        type="text"
        formControlName="tipoDocumento" 
        placeholder="Ingrese el tipo de documento">

        <label for="numerodeDocumento">Numero de Documento</label>
        <input
        type="text"
        formControlName="numerodeDocumento" 
        placeholder="Ingrese el numero del documento">
        <input
        type="checkbox">
        <!-- <button type="gSubmit" (click)="crearcliente()">Crearcliente</button> -->
        <input class="btn" type="submit">
      </div>
    </form>
  